* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1441px) {
  .container {
    max-width: 1750px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 766px;
  }
}

.header {
  margin-bottom: 144px;
}
@media (min-width: 1441px) {
  .header {
    margin-bottom: 149px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    margin-bottom: 62px;
  }
}
.header__top {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.header__top-wrap {
  background-color: #eeeeee;
  padding: 16px 0;
  margin-bottom: 35px;
}
@media (min-width: 1441px) {
  .header__top-wrap {
    margin-bottom: 60px;
  }
}
.header__top-heart {
  display: flex;
  align-items: center;
  position: relative;
}
.header__top-heart--amount path {
  fill: #20201C;
}
.header__top-heart--amount .header__top-amount {
  opacity: 1;
}
.header__top-amount {
  opacity: 0;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.header__top-img {
  width: 25px;
  height: 21px;
}
.header__top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
.header__top-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-decoration: none;
  color: #20201c;
  text-align: center;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 154px;
       column-gap: 154px;
}
.header__logo {
  max-width: 120px;
  padding-left: 4px;
}
.header__logo-img {
  width: 100%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  -moz-column-gap: 79px;
       column-gap: 79px;
}
@media (min-width: 1441px) {
  .header__nav {
    -moz-column-gap: 153px;
         column-gap: 153px;
    margin-right: auto;
  }
}
.header__nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-decoration: none;
  color: #20201c;
  text-align: center;
}
.header__buttons {
  display: flex;
  -moz-column-gap: 49px;
       column-gap: 49px;
}
.header__button {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
}

.banner {
  margin-bottom: 100px;
}
@media (min-width: 1441px) {
  .banner {
    margin-bottom: 154px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .banner {
    margin-bottom: 81px;
  }
}

.mySwiper {
  padding: 0 87px 46px 104px;
}
@media (min-width: 1441px) {
  .mySwiper {
    padding: 0 145px 46px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mySwiper {
    padding: 0;
  }
}
@media (min-width: 1441px) {
  .mySwiper .swiper-horizontal > .swiper-pagination-bullets, .mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: -3px;
  }
}
.mySwiper__slide {
  display: grid;
  grid-template-columns: 374px auto;
}
@media (min-width: 1441px) {
  .mySwiper__slide {
    -moz-column-gap: 46px;
         column-gap: 46px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mySwiper__slide {
    grid-template-columns: 231px auto;
    -moz-column-gap: 53px;
         column-gap: 53px;
  }
}
.mySwiper .swiper-button-prev {
  color: #20201C;
  transform: translate(-8px, -21px);
}
.mySwiper .swiper-button-prev::after {
  content: none;
}
@media (min-width: 1441px) {
  .mySwiper .swiper-button-prev {
    transform: translate(-7px, -32px);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mySwiper .swiper-button-prev {
    display: none;
  }
}
.mySwiper .swiper-button-next {
  color: #20201C;
  transform: translate(7px, -21px);
}
.mySwiper .swiper-button-next::after {
  content: none;
}
@media (min-width: 1441px) {
  .mySwiper .swiper-button-next {
    transform: translate(7px, -32px);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mySwiper .swiper-button-next {
    display: none;
  }
}
.mySwiper .swiper-pagination-bullet {
  width: 40px;
  height: 3px;
  background-color: #6e6e6d;
  border-radius: 0%;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mySwiper .swiper-pagination-bullet {
    width: 34px;
    height: 2px;
  }
}
.mySwiper .swiper-pagination-bullet-active {
  background-color: #20201C;
}

.sale__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 68px;
  line-height: 81px;
  margin-bottom: 32px;
  color: #20201C;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sale__title {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 23px;
  }
}
.sale__subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 20px;
  color: #20201C;
}
@media (min-width: 1441px) {
  .sale__subtitle {
    margin-bottom: 19px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sale__subtitle {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 12px;
  }
}
.sale__price {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 54px;
  align-items: baseline;
}
@media (min-width: 1441px) {
  .sale__price {
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sale__price {
    margin-bottom: 23px;
    -moz-column-gap: 4px;
         column-gap: 4px;
  }
}
.sale__cost {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 39px;
  color: #20201C;
  text-decoration: line-through;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sale__cost {
    font-size: 16px;
    line-height: 24px;
  }
}
.sale__discount {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 31px;
  line-height: 48px;
  color: #20201C;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sale__discount {
    font-size: 20px;
    line-height: 30px;
  }
}
.sale__btn {
  max-width: 219px;
  width: 100%;
  display: block;
  text-transform: capitalize;
  color: #FFF;
  background-color: #272725;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  padding: 6.5px;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sale__btn {
    max-width: 169px;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
  }
}
.sale__btn:hover {
  background-color: #0A0A09;
}
.sale__btn:active {
  background-color: #F5F5F5;
  color: #0A0A09;
}
.sale__item--wrap {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
}
@media (min-width: 1441px) {
  .sale__item--wrap {
    max-width: 903px;
    left: 9px;
    top: -9px;
  }
}
.sale__item--wrap::before {
  content: "";
  display: block;
  padding-top: 45.3%;
}
.sale__item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1441px) {
  .sale__item {
    -o-object-position: 0px;
       object-position: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .sale__item {
    -o-object-position: top;
       object-position: top;
  }
}

.catalog {
  margin-bottom: 115px;
}
@media (min-width: 1441px) {
  .catalog {
    margin-bottom: 139px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog {
    margin-bottom: 59px;
  }
}
.catalog__wrap {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 1441px) {
  .catalog__wrap {
    -moz-column-gap: 71px;
         column-gap: 71px;
  }
}
.catalog__filters {
  max-width: 296px;
  width: 100%;
}
@media (min-width: 1441px) {
  .catalog__filters {
    max-width: 364px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__filters {
    display: none;
  }
}
.catalog__filters--title {
  display: flex;
  -moz-column-gap: 91px;
       column-gap: 91px;
  margin-bottom: 64px;
  align-items: center;
}
@media (min-width: 1441px) {
  .catalog__filters--title {
    -moz-column-gap: 161px;
         column-gap: 161px;
  }
}
.catalog__filters--subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}
.catalog__filters--btn {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #A3A3A3;
  background-color: #FFF;
  max-width: 93px;
  width: 100%;
  border: none;
  cursor: pointer;
}
.catalog__filter {
  margin-bottom: 58px;
}
.catalog__filter--header {
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
  align-items: center;
  margin-bottom: 30px;
}
.catalog__filter--header--title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #20201C;
  text-transform: uppercase;
}
.catalog__filter--content {
  display: flex;
  -moz-column-gap: 75px;
       column-gap: 75px;
}
.catalog__filter--choice {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #20201C;
  margin-bottom: 16px;
  text-decoration: none;
}
.catalog__filter--choice:last-of-type {
  margin-bottom: 0;
}
.catalog__filter--range {
  text-align: end;
}
@media (min-width: 1441px) {
  .catalog__filter--range {
    text-align: start;
  }
}
.catalog__content {
  width: calc(100% - 296px - 20px);
}
@media (min-width: 1441px) {
  .catalog__content {
    width: calc(100% - 364px - 71px);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content {
    width: 100%;
  }
}
.catalog__content--header {
  display: flex;
  justify-content: end;
  margin-bottom: 80px;
}
@media (min-width: 1441px) {
  .catalog__content--header {
    margin-bottom: 64px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--header {
    justify-content: space-between;
    margin-bottom: 26px;
  }
}
.catalog__content--humburger {
  display: none;
}
@media (min-width: 1441px) {
  .catalog__content--humburger {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--humburger {
    display: flex;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
.catalog__content--hum--text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #20201C;
  transform: translateY(-1px);
}
.catalog__content--head {
  display: flex;
  -moz-column-gap: 78px;
       column-gap: 78px;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--head {
    display: flex;
    -moz-column-gap: 31px;
         column-gap: 31px;
    transform: translate(10px, -7px);
  }
}
.catalog__content--text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-weight: bold;
  font-size: 22px;
  line-height: 43px;
  color: #20201C;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
}
.catalog__content--btn {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--btn {
    -moz-column-gap: 21px;
         column-gap: 21px;
  }
}
.catalog__content--btn--text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #20201C;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--btn--text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
.catalog__content--btn--label {
  display: flex;
  align-items: center;
  transform: translateX(-7px);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--btn--label {
    transform: translateX(-14px);
  }
}
.catalog__content--wrap {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 23px;
  margin-bottom: 43px;
}
@media (min-width: 1441px) {
  .catalog__content--wrap {
    row-gap: 18px;
    margin-bottom: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--wrap {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 24px;
    margin-bottom: 32px;
  }
}
.catalog__content--info {
  padding: 0px 28px 0px;
}
@media (min-width: 1441px) {
  .catalog__content--info {
    padding: 0px 39px 0px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--info {
    padding: 0px 17px 0px;
  }
}
.catalog__content--item {
  padding-bottom: 27px;
  width: calc((100% - 20px - 20px) / 3);
  background-color: #F5F5F5;
  text-decoration: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--item:last-of-type {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--item {
    width: calc((100% - 20px - 20px - 20px) / 4);
    padding-bottom: 8px;
  }
}
.catalog__content--item--img--wrap {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  top: 28px;
}
.catalog__content--item--img--wrap::before {
  content: "";
  display: block;
  padding-top: 82%;
}
@media (min-width: 1441px) {
  .catalog__content--item--img--wrap {
    margin-bottom: 61px;
    top: 58px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--item--img--wrap {
    margin-bottom: 24px;
    top: 21px;
  }
}
.catalog__content--item--img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.catalog__content--item--title {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #20201C;
}
@media (min-width: 1441px) {
  .catalog__content--item--title {
    font-size: 22px;
    line-height: 33px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--item--title {
    font-size: 9px;
    line-height: 13.5px;
  }
}
.catalog__content--item--size {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #A3A3A3;
  margin-bottom: 14px;
}
@media (min-width: 1441px) {
  .catalog__content--item--size {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 26px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--item--size {
    font-size: 9px;
    line-height: 13.5px;
    margin-bottom: 9px;
  }
}
.catalog__content--item--price {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #20201C;
}
@media (min-width: 1441px) {
  .catalog__content--item--price {
    font-size: 22px;
    line-height: 33px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--item--price {
    font-size: 9px;
    line-height: 13.5px;
  }
}
.catalog__content--button {
  display: block;
  max-width: 219px;
  width: 100%;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid #20201C;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #20201C;
  padding: 7.5px;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .catalog__content--button {
    max-width: 169px;
    font-size: 16px;
    line-height: 22px;
    padding: 12px;
  }
}
.catalog__content--button:hover {
  background-color: #F5F5F5;
}
.catalog__content--button:active {
  background-color: #A3A3A3;
}

.footer {
  background-color: #EEEEEE;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 91px;
       column-gap: 91px;
  border-bottom: 1px solid #20201C;
  padding-top: 60px;
}
@media (min-width: 1441px) {
  .footer__top {
    -moz-column-gap: 91px;
         column-gap: 91px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__top {
    padding-top: 30px;
    -moz-column-gap: 56px;
         column-gap: 56px;
  }
}
.footer__subs {
  max-width: 20.5%;
}
.footer__logo-img {
  max-width: 120px;
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__logo-img {
    max-width: 90px;
    margin-bottom: 12px;
  }
}
.footer__logo-description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #A3A3A3;
  margin-bottom: 22px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__logo-description {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 55px;
  }
}
.footer__subs-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #20201C;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__subs-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}
.footer__sub {
  display: flex;
  flex-direction: column;
}
.footer__sub-field {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #20201C;
  border: none;
  border-bottom: 1px solid #20201C;
  outline: none;
  padding: 0px 10px;
  margin-bottom: 60px;
  background-color: #EEEEEE;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__sub-field {
    margin-bottom: 20px;
  }
}
.footer__sub-field::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #A3A3A3;
}
.footer__sub-field:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #A3A3A3;
}
.footer__sub-field::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #A3A3A3;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__sub-field::-moz-placeholder {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__sub-field:-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__sub-field::placeholder {
    font-size: 16px;
    line-height: 24px;
  }
}
.footer__sub-btn {
  max-width: 219px;
  width: 100%;
  padding: 8px;
  background: none;
  font-family: "Poppins", sans-serif;
  border: 1px solid #A3A3A3;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #A3A3A3;
  cursor: pointer;
}
@media (min-width: 1441px) {
  .footer__sub-btn {
    margin-bottom: 60px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__sub-btn {
    max-width: 169px;
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 24px;
  }
}
.footer__pages {
  display: flex;
  -moz-column-gap: 95px;
       column-gap: 95px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__pages {
    -moz-column-gap: 55px;
         column-gap: 55px;
  }
}
.footer__pages-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 47px;
  justify-content: space-between;
  margin-bottom: 33px;
}
@media (min-width: 1441px) {
  .footer__pages-wrap {
    -moz-column-gap: 256px;
         column-gap: 256px;
    flex-direction: row;
  }
}
.footer__page {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__page {
    row-gap: 8px;
  }
}
@media (min-width: 1441px) {
  .footer__page {
    -moz-column-gap: 127px;
         column-gap: 127px;
  }
}
.footer__page-menu {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #20201C;
  margin-bottom: 16px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__page-menu {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 7px;
  }
}
.footer__page-link {
  text-decoration: none;
}
.footer__page-name {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #20201C;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__page-name {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer__contacts {
  display: flex;
  -moz-column-gap: 91px;
       column-gap: 91px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__contacts {
    flex-direction: column;
    row-gap: 22px;
  }
}
@media (min-width: 1441px) {
  .footer__contacts {
    flex-direction: column;
    row-gap: 60px;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer__contact-icon {
  width: 32px;
  height: 32px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__contact-icon {
    width: 25px;
    height: 25px;
  }
}
.footer__contact-medias {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__contact-medias {
    flex-direction: row;
    -moz-column-gap: 34px;
         column-gap: 34px;
  }
}
.footer__contact-media {
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
  align-items: center;
}
.footer__contact-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #20201C;
  align-items: center;
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__contact-link {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer__media {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__media {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.footer__media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background: #20201C;
  border-radius: 50%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__media-link {
    background: none;
  }
}
.footer__media-tw {
  fill: #fff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__media-tw {
    fill: #000000;
  }
}
.footer__media-inst {
  stroke: white;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__media-inst {
    stroke: #000000;
    fill: transparent;
  }
}
.footer__corporations {
  display: flex;
  justify-content: end;
  -moz-column-gap: 120px;
       column-gap: 120px;
  padding: 35px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__corporations {
    padding: 30px 0;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
}
.footer__corporation {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__corporation-icon {
  width: 32px;
  height: 32px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__corporation-icon {
    width: 16px;
    height: 16px;
  }
}
.footer__corporation-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__corporation-text {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer__corporation-name {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #20201C;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__corporation-name {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer__corporation-page {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__corporation-page {
    -moz-column-gap: 46px;
         column-gap: 46px;
  }
}
.footer__corporation-link {
  font-family: "Poppins", sans-serif;
  font-weight: 0;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  color: #20201C;
}/*# sourceMappingURL=style.css.map */