* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1441px) {
  .container {
    max-width: 1750px;
  }
}

.header__top {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 14px;
       column-gap: 14px;
  padding: 16px 0;
  margin-bottom: 35px;
}
@media (min-width: 1441px) {
  .header__top {
    margin-bottom: 60px;
  }
}
.header__top-wrap {
  background-color: #eeeeee;
}
.header__top-heart {
  display: flex;
  align-items: center;
}
.header__top-img {
  width: 25px;
  height: 21px;
}
.header__top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
.header__top-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-decoration: none;
  color: #20201c;
  text-align: center;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  transform: translateX(4px);
}
.header__logo {
  max-width: 120px;
}
.header__logo-img {
  width: 100%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  -moz-column-gap: 79px;
       column-gap: 79px;
}
@media (min-width: 1441px) {
  .header__nav {
    padding-right: 317px;
    -moz-column-gap: 153px;
         column-gap: 153px;
    transform: translateX(-60px);
  }
}
.header__nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-decoration: none;
  color: #20201c;
  text-align: center;
}
.header__buttons {
  display: flex;
  -moz-column-gap: 49px;
       column-gap: 49px;
}
.header__button {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
}

.cards {
  margin-bottom: 120px;
  padding-top: 128px;
}
@media (min-width: 1441px) {
  .cards {
    margin-bottom: 147px;
    padding-top: 205px;
  }
}

.card {
  display: flex;
}
@media (min-width: 1441px) {
  .card {
    display: grid;
    grid-template-columns: 1fr minmax(706px, 41%);
  }
}
.card__wrap {
  width: 43%;
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
@media (min-width: 1441px) {
  .card__wrap {
    row-gap: 59px;
    margin: 0 auto;
  }
}
.card__wrap-main {
  position: relative;
  margin-bottom: 33px;
  width: 100%;
  max-width: 334px;
  margin: 0 auto;
  transform: translate(-8px, -3px);
}
@media (min-width: 1441px) {
  .card__wrap-main {
    margin-bottom: 69px;
    max-width: 494px;
    transform: translate(-4px, 5px);
  }
}
.card__wrap-main::before {
  content: "";
  display: block;
  padding-top: 122%;
}
@media (min-width: 1441px) {
  .card__wrap-main::before {
    padding-top: 111%;
  }
}
.card__wrap-main--img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__wrap-secondary {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  justify-content: center;
}
@media (min-width: 1441px) {
  .card__wrap-secondary {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
.card__wrap-secondary--link {
  position: relative;
  width: 100%;
  max-width: 85px;
  transform: translateX(-32px);
}
@media (min-width: 1441px) {
  .card__wrap-secondary--link {
    max-width: 141px;
    transform: translateX(17px);
  }
}
.card__wrap-secondary--link::before {
  content: "";
  display: block;
  padding-top: 117%;
}
@media (min-width: 1441px) {
  .card__wrap-secondary--link::before {
    padding-top: 119%;
  }
}
.card__wrap-secondary--link::after {
  content: "";
  width: 100%;
  max-width: 40px;
  border-bottom: 2px solid transparent;
  display: inline-block;
  position: absolute;
  left: 25%;
  top: 110%;
}
@media (min-width: 1441px) {
  .card__wrap-secondary--link::after {
    left: 27%;
    top: 115%;
    border-bottom: 3px solid transparent;
  }
}
.card__wrap-secondary--link:hover::after {
  border-bottom: 2px solid #20201c;
}
@media (min-width: 1441px) {
  .card__wrap-secondary--link:hover::after {
    border-bottom: 3px solid #20201c;
  }
}
.card__wrap-secondary--link:active::after {
  border-bottom: 2px solid #20201c;
}
@media (min-width: 1441px) {
  .card__wrap-secondary--link:active::after {
    border-bottom: 3px solid #20201c;
  }
}
.card__wrap-secondary--img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__description {
  width: 57%;
}
@media (min-width: 1441px) {
  .card__description {
    width: 100%;
  }
}
.card__description-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 54px;
}
@media (min-width: 1441px) {
  .card__description-title {
    margin-bottom: 64px;
  }
}
.card__description-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  margin-bottom: 32px;
}
@media (min-width: 1441px) {
  .card__description-text {
    margin-bottom: 65px;
  }
}
.card__description-features {
  display: flex;
  -moz-column-gap: 94px;
       column-gap: 94px;
  margin-bottom: 28px;
}
@media (min-width: 1441px) {
  .card__description-features {
    display: inline-block;
    margin-bottom: 31px;
  }
}
.card__description-feature:last-child {
  margin-bottom: 0px;
}
@media (min-width: 1441px) {
  .card__description-feature {
    margin-bottom: 32px;
  }
}
.card__description-feature--title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 20px;
}
.card__description-feature--text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 12px;
}
@media (min-width: 1441px) {
  .card__description-feature--text {
    display: inline-block;
    margin-right: 37px;
    margin-bottom: 0;
  }
  .card__description-feature--text:last-child {
    margin-right: 0px;
  }
}
.card__description-feature--highlight {
  font-weight: 600;
}
.card__description-price--wrap {
  display: flex;
  -moz-column-gap: 84px;
       column-gap: 84px;
  margin-bottom: 51px;
  align-items: center;
}
@media (min-width: 1441px) {
  .card__description-price--wrap {
    margin-bottom: 59px;
  }
}
.card__description-price--quota {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  max-width: 109px;
  width: 100%;
}
.card__description-price--box {
  border: 1px solid #a3a3a3;
  display: flex;
  width: 100%;
  max-width: 144px;
  padding: 7px 24px;
  align-items: center;
}
.card__description-price--plus {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.card__description-price--input {
  display: block;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  max-width: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 37px;
  color: #20201c;
}
.card__description-price--minus {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.card__description-price--btns {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 1441px) {
  .card__description-price--btns {
    transform: translate(-3px);
  }
}
.card__description-price--shop {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #f5f5f5;
  background-color: #272725;
  border: 0;
  text-align: center;
  padding: 8.5px;
  width: 100%;
  max-width: 219px;
}
.card__description-price--wish {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #20201c;
  background-color: #f5f5f5;
  border: 1px solid #20201c;
  text-align: center;
  padding: 8.5px;
  width: 100%;
  max-width: 219px;
}/*# sourceMappingURL=style.css.map */