* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1441px) {
  .container {
    max-width: 1750px;
  }
}

body {
  background: #f5f5f5;
}

.header__top {
  display: flex;
  justify-content: flex-end;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.header__top-wrap {
  background-color: #eeeeee;
  padding: 16px 0;
  margin-bottom: 35px;
}
@media (min-width: 1441px) {
  .header__top-wrap {
    margin-bottom: 60px;
  }
}
.header__top-heart {
  display: flex;
  align-items: center;
  position: relative;
}
.header__top-heart--amount path {
  fill: #20201c;
}
.header__top-heart--amount .header__top-amount {
  opacity: 1;
}
.header__top-amount {
  opacity: 0;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.header__top-img {
  width: 25px;
  height: 21px;
}
.header__top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  -moz-column-gap: 70px;
       column-gap: 70px;
}
.header__top-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-decoration: none;
  color: #20201c;
  text-align: center;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 154px;
       column-gap: 154px;
}
.header__logo {
  max-width: 120px;
  padding-left: 4px;
}
.header__logo-img {
  width: 100%;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
  -moz-column-gap: 79px;
       column-gap: 79px;
}
@media (min-width: 1441px) {
  .header__nav {
    -moz-column-gap: 153px;
         column-gap: 153px;
    margin-right: auto;
  }
}
.header__nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-decoration: none;
  color: #20201c;
  text-align: center;
}
.header__buttons {
  display: flex;
  -moz-column-gap: 49px;
       column-gap: 49px;
}
.header__button {
  width: 32px;
  height: 32px;
  background: none;
  border: none;
}

.cards {
  margin-bottom: 120px;
  margin-top: 128px;
}
@media (min-width: 1441px) {
  .cards {
    margin-bottom: 147px;
    margin-top: 205px;
  }
}
@media (max-width: 1024px) {
  .cards {
    margin-top: 65px;
    margin-bottom: 84px;
  }
}

.card {
  display: grid;
  grid-template-columns: 1fr minmax(707px, 57%);
}
@media (min-width: 1441px) {
  .card {
    grid-template-columns: 1fr minmax(706px, 41%);
  }
}
@media (max-width: 1024px) {
  .card {
    grid-template-columns: 1fr;
  }
}
.card__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  padding-left: 5px;
  margin-top: 5px;
}
@media (min-width: 1441px) {
  .card__wrap {
    max-width: 549px;
    row-gap: 59px;
    margin: 0 auto;
    padding-left: 24px;
    margin-top: 2px;
  }
}
@media (max-width: 1024px) {
  .card__wrap {
    display: none;
  }
}
.card__wrap-main {
  position: relative;
  width: 100%;
  max-width: 334px;
  margin: 0 auto;
}
@media (min-width: 1441px) {
  .card__wrap-main {
    max-width: 494px;
  }
}
.card__wrap-main::before {
  content: "";
  display: block;
  padding-top: 122%;
}
@media (min-width: 1441px) {
  .card__wrap-main::before {
    padding-top: 111%;
  }
}
.card__wrap-main--img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 1024px) {
  .card__wrap-main--img {
    display: none;
  }
}
.card__wrap-secondary {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  width: 100%;
  justify-content: center;
}
@media (min-width: 1441px) {
  .card__wrap-secondary {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media (max-width: 1024px) {
  .card__wrap-secondary {
    display: none;
  }
}
.card__wrap-secondary--link {
  position: relative;
  width: 100%;
  max-width: 85px;
}
@media (min-width: 1441px) {
  .card__wrap-secondary--link {
    max-width: 141px;
  }
}
.card__wrap-secondary--link::before {
  content: "";
  display: block;
  padding-top: 117%;
}
@media (min-width: 1441px) {
  .card__wrap-secondary--link::before {
    padding-top: 119%;
  }
}
.card__wrap-secondary--link::after {
  content: "";
  width: 100%;
  max-width: 40px;
  border-bottom: 2px solid transparent;
  display: inline-block;
  position: absolute;
  left: 25%;
  top: 110%;
}
@media (min-width: 1441px) {
  .card__wrap-secondary--link::after {
    left: 27%;
    top: 115%;
    border-bottom: 3px solid transparent;
  }
}
.card__wrap-secondary--link:hover::after {
  border-bottom: 2px solid #20201c;
}
@media (min-width: 1441px) {
  .card__wrap-secondary--link:hover::after {
    border-bottom: 3px solid #20201c;
  }
}
.card__wrap-secondary--link:active::after {
  border-bottom: 2px solid #20201c;
}
@media (min-width: 1441px) {
  .card__wrap-secondary--link:active::after {
    border-bottom: 3px solid #20201c;
  }
}
.card__wrap-secondary--img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card__description {
  width: 100%;
}
@media (min-width: 1441px) {
  .card__description {
    width: 100%;
  }
}
.card__description-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 54px;
}
@media (min-width: 1441px) {
  .card__description-title {
    margin-bottom: 64px;
  }
}
@media (max-width: 1024px) {
  .card__description-title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}
.card__description-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  margin-bottom: 33px;
  max-width: 707px;
}
@media (min-width: 1441px) {
  .card__description-text {
    margin-bottom: 31px;
    max-width: 687px;
  }
}
@media (max-width: 1024px) {
  .card__description-text {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    max-width: 567px;
    margin-bottom: 436px;
  }
  .card__description-text::before {
    content: "";
    width: 267px;
    height: 326px;
    display: block;
    top: 35%;
    left: 25%;
    position: absolute;
    background-image: url(../images/chairtablet.png);
    background-repeat: no-repeat;
    background-position: center;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
.card__description-features {
  display: flex;
  -moz-column-gap: 94px;
       column-gap: 94px;
  margin-bottom: 28px;
}
@media (min-width: 1441px) {
  .card__description-features {
    display: inline-block;
    margin-bottom: 31px;
  }
}
@media (max-width: 1024px) {
  .card__description-features {
    display: inline-block;
    margin-bottom: 48px;
  }
}
.card__description-feature:last-child {
  margin-bottom: 0px;
}
@media (min-width: 1441px) {
  .card__description-feature {
    margin-bottom: 32px;
  }
}
@media (max-width: 1024px) {
  .card__description-feature {
    display: inline-block;
    margin-bottom: 23px;
  }
}
.card__description-feature--title {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .card__description-feature--title {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
  }
}
.card__description-feature--text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 12px;
}
@media (min-width: 1441px) {
  .card__description-feature--text {
    display: inline-block;
    margin-right: 37px;
    margin-bottom: 0;
  }
  .card__description-feature--text:last-child {
    margin-right: 0;
  }
}
@media (max-width: 1024px) {
  .card__description-feature--text {
    margin-right: 30px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }
  .card__description-feature--text:last-child {
    margin-right: 0;
  }
}
.card__description-feature--highlight {
  font-weight: 600;
}
@media (max-width: 1024px) {
  .card__description-feature--highlight {
    font-weight: 500;
  }
}
@media (max-width: 1024px) {
  .card__description-price {
    display: flex;
    justify-content: space-between;
  }
}
.card__description-price--wrap {
  display: flex;
  -moz-column-gap: 84px;
       column-gap: 84px;
  margin-bottom: 54px;
  align-items: center;
}
@media (min-width: 1441px) {
  .card__description-price--wrap {
    margin-bottom: 57px;
  }
}
@media (max-width: 1024px) {
  .card__description-price--wrap {
    margin-bottom: 0;
    -moz-column-gap: 69px;
         column-gap: 69px;
    width: 100%;
    max-width: 244px;
  }
}
.card__description-price--quota {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  max-width: 109px;
  width: 100%;
}
@media (max-width: 1024px) {
  .card__description-price--quota {
    font-size: 22px;
    line-height: 33px;
    max-width: 75px;
  }
}
.card__description-price--box {
  border: 1px solid #a3a3a3;
  display: flex;
  width: 100%;
  max-width: 144px;
  padding: 6px 24px;
  align-items: center;
}
@media (min-width: 1441px) {
  .card__description-price--box {
    padding: 5px 24px;
  }
}
@media (max-width: 1024px) {
  .card__description-price--box {
    padding: 7px;
    width: 100%;
    max-width: 100px;
  }
}
.card__description-price--plus {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.card__description-price--input {
  display: block;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  max-width: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 37px;
  color: #20201c;
}
@media (max-width: 1024px) {
  .card__description-price--input {
    font-size: 20px;
    line-height: 30px;
    margin-left: 12px;
    margin-right: 12px;
  }
}
.card__description-price--minus {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.card__description-price--btns {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 1441px) {
  .card__description-price--btns {
    margin-left: -5px;
  }
}
@media (max-width: 1024px) {
  .card__description-price--btns {
    width: 100%;
    max-width: 358px;
  }
}
.card__description-price--shop {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #f5f5f5;
  background-color: #272725;
  border: 0;
  text-align: center;
  padding: 8.5px;
  width: 100%;
  max-width: 219px;
}
@media (max-width: 1024px) {
  .card__description-price--shop {
    font-size: 16px;
    line-height: 24px;
    padding: 12px;
    max-width: 169px;
    display: block;
  }
}
.card__description-price--wish {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #20201c;
  background-color: transparent;
  border: 1px solid #20201c;
  text-align: center;
  padding: 8.5px;
  width: 100%;
  max-width: 219px;
}
@media (max-width: 1024px) {
  .card__description-price--wish {
    font-size: 16px;
    line-height: 24px;
    padding: 12px;
    max-width: 169px;
    display: block;
  }
}

.footer {
  background-color: #eeeeee;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 91px;
       column-gap: 91px;
  border-bottom: 1px solid #20201c;
  padding-top: 60px;
}
@media (min-width: 1441px) {
  .footer__top {
    -moz-column-gap: 91px;
         column-gap: 91px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__top {
    padding-top: 30px;
    -moz-column-gap: 56px;
         column-gap: 56px;
  }
}
.footer__subs {
  max-width: 20.5%;
}
.footer__logo-img {
  max-width: 120px;
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__logo-img {
    max-width: 90px;
    margin-bottom: 12px;
  }
}
.footer__logo-description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #a3a3a3;
  margin-bottom: 22px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__logo-description {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 55px;
  }
}
.footer__subs-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #20201c;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__subs-text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }
}
.footer__sub {
  display: flex;
  flex-direction: column;
}
.footer__sub-field {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #20201c;
  border: none;
  border-bottom: 1px solid #20201c;
  outline: none;
  padding: 0px 10px;
  margin-bottom: 60px;
  background-color: #eeeeee;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__sub-field {
    margin-bottom: 20px;
  }
}
.footer__sub-field::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #a3a3a3;
}
.footer__sub-field:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #a3a3a3;
}
.footer__sub-field::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #a3a3a3;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__sub-field::-moz-placeholder {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__sub-field:-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px;
  }
  .footer__sub-field::placeholder {
    font-size: 16px;
    line-height: 24px;
  }
}
.footer__sub-btn {
  max-width: 219px;
  width: 100%;
  padding: 8px;
  background: none;
  font-family: "Poppins", sans-serif;
  border: 1px solid #a3a3a3;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #a3a3a3;
  cursor: pointer;
}
@media (min-width: 1441px) {
  .footer__sub-btn {
    margin-bottom: 60px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__sub-btn {
    max-width: 169px;
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 24px;
  }
}
.footer__pages {
  display: flex;
  -moz-column-gap: 95px;
       column-gap: 95px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__pages {
    -moz-column-gap: 55px;
         column-gap: 55px;
  }
}
.footer__pages-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 47px;
  justify-content: space-between;
  margin-bottom: 33px;
}
@media (min-width: 1441px) {
  .footer__pages-wrap {
    -moz-column-gap: 256px;
         column-gap: 256px;
    flex-direction: row;
  }
}
.footer__page {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__page {
    row-gap: 8px;
  }
}
@media (min-width: 1441px) {
  .footer__page {
    -moz-column-gap: 127px;
         column-gap: 127px;
  }
}
.footer__page-menu {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #20201c;
  margin-bottom: 16px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__page-menu {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 7px;
  }
}
.footer__page-link {
  text-decoration: none;
}
.footer__page-name {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #20201c;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__page-name {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer__contacts {
  display: flex;
  -moz-column-gap: 91px;
       column-gap: 91px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__contacts {
    flex-direction: column;
    row-gap: 22px;
  }
}
@media (min-width: 1441px) {
  .footer__contacts {
    flex-direction: column;
    row-gap: 60px;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer__contact-icon {
  width: 32px;
  height: 32px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__contact-icon {
    width: 25px;
    height: 25px;
  }
}
.footer__contact-medias {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__contact-medias {
    flex-direction: row;
    -moz-column-gap: 34px;
         column-gap: 34px;
  }
}
.footer__contact-media {
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
  align-items: center;
}
.footer__contact-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #20201c;
  align-items: center;
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__contact-link {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer__media {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__media {
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
}
.footer__media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background: #20201c;
  border-radius: 50%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__media-link {
    background: none;
  }
}
.footer__media-tw {
  fill: #fff;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__media-tw {
    fill: #000000;
  }
}
.footer__media-inst {
  stroke: white;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__media-inst {
    stroke: #000000;
    fill: transparent;
  }
}
.footer__corporations {
  display: flex;
  justify-content: end;
  -moz-column-gap: 120px;
       column-gap: 120px;
  padding: 35px 0;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__corporations {
    padding: 30px 0;
    -moz-column-gap: 70px;
         column-gap: 70px;
  }
}
.footer__corporation {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__corporation-icon {
  width: 32px;
  height: 32px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__corporation-icon {
    width: 16px;
    height: 16px;
  }
}
.footer__corporation-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__corporation-text {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer__corporation-name {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #20201c;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__corporation-name {
    font-size: 14px;
    line-height: 17px;
  }
}
.footer__corporation-page {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .footer__corporation-page {
    -moz-column-gap: 46px;
         column-gap: 46px;
  }
}
.footer__corporation-link {
  font-family: "Poppins", sans-serif;
  font-weight: 0;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  color: #20201c;
}/*# sourceMappingURL=style.css.map */