$font-Poppins: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 1441px) {
    max-width: 1750px;
  }
}

.header {
  &__top {
    display: flex;
    justify-content: flex-end;
    column-gap: 14px;
    padding: 16px 0;
    margin-bottom: 24px;

    &-wrap {
      background-color: #eeeeee;
    }

    &-heart {
      display: flex;
      align-items: center;
    }

    &-img {
      width: 25px;
      height: 21px;
    }

    &-nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      column-gap: 70px;
    }

    &-link {
      font-family: $font-Poppins;
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      text-decoration: none;
      color: #20201c;
      text-align: center;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    max-width: 120px;

    &-img {
      width: 100%;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    column-gap: 79px;

    @media (min-width: 1441px) {
      padding-right: 317px;
      column-gap: 153px;
    }

    &-link {
      font-family: $font-Poppins;
      font-weight: 500;
      font-size: 22px;
      line-height: 33px;
      text-decoration: none;
      color: #20201c;
      text-align: center;
    }
  }

  &__buttons {
    display: flex;
    column-gap: 49px;
  }

  &__button {
    width: 32px;
    height: 32px;
    background: none;
    border: none;
  }
}
